# Зависимости
/node_modules

# Сборки
/dist
/build

# Локальные конфигурации
.env
.env.local

# Логи
*.log
npm-debug.log*

# Операционные системы
.DS_Store
Thumbs.db

# Редакторы
.idea
.vscode
*.swp
*.swo

# Временные файлы
*.tmp
*.temp
